.header {
  margin: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .title {
    font-size: 50px;
  }

  .searchBar {
  }

  .profileSection {
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;

    & button {
      background-color: var(--blue-color);
      padding: 0px 20px;
      border-radius: 45px;
      color: var(--white-color);
      font-weight: 700;
      height: 3.5rem;
    }

    .profilePhoto {
      position: relative;
      width: 80px;
      height: 100%;
      border-radius: 100px;

      & img {
        object-fit: cover;
        border-radius: 9900px;
      }
    }

    .profileName {
      font-weight: 700;
    }
  }
}
