.pageContainer {
  background-color: var(--white-color);
  border-radius: 60px 0 0 60px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;

  .firstSection {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0 20px;
    gap: 40px;

    .article {
      display: flex;
      flex-flow: column nowrap;
      gap: 10px;
    }

    .quickNotes {
      width: 100%;
      height: 15rem;
    }

    .create {
      width: 40%;
      display: flex;
      flex-flow: column nowrap;

      .buttonContainer {
        width: 100%;
        height: 70%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 15px;

        .button {
          font-size: 1.5rem;
          font-weight: 700;
          font-size: 2rem;
          height: 100%;
          border-radius: 45px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          transition: 0.5s;
          width: 100%;

          &:hover {
            font-size: 2.2rem;
          }
        }

        .wikiButton {
          background: var(--green-color);
        }

        .noteButton {
          background-color: var(--yellow-color);
        }
      }
    }

    .settings {
      width: 15%;
    }
  }

  .secondSection {
    background-color: var(--lightblue-color);
    border-radius: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 40px 10px 0;
    padding: 20px 30px 30px;
    gap: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    .container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      width: 50%;
      gap: 10px;

      .title {
        text-align: center;
        font-size: 2rem;
      }

      .itemContainer {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        padding: 20px;
        border-radius: 45px;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      .wikis {
        background-color: var(--gray-color);
      }

      .notes {
        background-color: var(--gray-color);
      }
    }
  }
}
