@import url(../../components/UI/Inputs/Input.css);

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --green-color: #b9eddd;
  --blue-color: #647aff;
  --lightblue-color: rgba(#647aff, 40);
  --gray-color: #eeeaf4;
  --hard-gray-color: #465564;
  --white-color: #ffffff;
  --black-color: #000000;

  font-size: 12px;
}

* {
  margin: 0;
  font-family: Satoshi;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--blue-color);
  max-width: 100vw;
  /* overflow-x: hidden; */
  /* min-height: 100vh; */
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
