/* @font-face {
  font-family: Clash;
  src: url("./Satoshi-Black.otf") format('otf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url(./Satoshi-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Satoshi";
  src: url(./Satoshi-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "Satoshi";
  src: url(./Satoshi-Regular.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Satoshi";
  src: url(./Satoshi-Light.otf);
  font-weight: 100;
}
 */